@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  src: url("/fonts/BarlowCondensed-ExtraLight.woff2");
}

@font-face {
  font-family: "Bellefair";
  src: url("/fonts/Bellefair-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
