@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Barlow";
  src: url("/fonts/BarlowCondensed-ExtraLight.woff2");
}

@font-face {
  font-family: "Bellefair";
  src: url("/fonts/Bellefair-Regular.woff2");
}

@layer components {
  .title {
    @apply text-2xl font-barlow text-cream uppercase tracking-widest;
  }
  .title-span {
    @apply font-black text-trueGray-600;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
